* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #141718;
    height: 100vh;
    overflow: hidden;
}


div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

.gray-section {
    width: 65%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #404245;
    position: relative;
}

img {
    border-radius: 25px;
    position: absolute;
    left: 0;
    height: 90%;
    margin: 3%;
}

.logo {
    height: 48%;
    top: 20%;
}

form {
    margin-right: 15%;
    margin-top: 9%;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    margin-left: 16%;
    filter: brightness(0.5); 
}

p {
    color: #BDBBBB;
    font-family: 'Inter', sans-serif;
    margin-top: 3%;
    margin-left: 40%;
    font-size: 18px;
}


@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Regular.ttf');
}
