* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #141718;
    height: 100vh;
    overflow: hidden;
}


div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.gray-section {
    background-color: #232627;
    width: 60%;
    height: 40.5%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

img {
    height: 37.5%;
    margin: 2%;
    border-radius: 25px;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

p {
    color: #BDBBBB;
    font-family: 'Inter', sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 20%;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Black.ttf');
}
