.button-large {
    color: white;
    background-color: #26973C;
    width: 70%;
    height: 60px;;
    margin-top: 10%;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Roboto';
}